/**----------------------------------------
START: Theme Default CSS
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sds-ff-body: 'Inter', sans-serif;
  --sds-ff-heading: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
  Typography CSS
*/
body {
  font-size: 18px;
  font-family: var(--sds-ff-body);
  color: #191919;
  font-weight: normal;
  word-break: break-word;
  background-color: #090909;
  line-height: 30px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 600;
  font-family: var(--sds-ff-heading);
  margin-top: 0;
  line-height: 1.2;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus:not(:focus-visible) {
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

select,
.nice-select,
input:not([type=submit]):not([type=radio]):not([type=checkbox]),
textarea {
  outline: none;
  height: auto;
  width: 100%;
  color: #000000;
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sds-color-theme-primary);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-moz-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #000000;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

*::placeholder {
  color: #ffffff;
  font-size: var(--sds-fs-body);
  opacity: 1;
}

/**
 	Common Classes CSS
*/
img {
  max-width: 100%;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-width {
  max-width: 1310px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Composite Products Style CSS */

/**
 	Button CSS
*/

.header-btn {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  background: #8bb546e6;
  font-weight: 500;
  box-shadow: 0px 4px 30px 0px #0000000A;
  border-radius: 32px;
  letter-spacing: 0.13px;
  padding: 13px 22px;
  overflow: hidden;
  line-height: 1;
}

.header-btn span {
  position: relative;
  z-index: 2;
}

.header-btn:hover {
  color: #ffffff;
}

.header-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10%;
  height: 100%;
  width: 120%;
  background: #8BB546;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.header-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}

.feature-btn {
  display: inline-block;
  position: relative;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  padding: 12px 16px;
  line-height: 1;
}

.feature-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(87.58deg, #89C61D 5.41%, #F8FF40 94.78%);
  border-radius: 30px;
}

.feature-btn span {
  position: relative;
  color: #000000;
  z-index: 1;
}

.feature-btn:hover::before {
  background: linear-gradient(87.58deg, #F8FF40 5.41%, #89C61D 94.78%);
}

.feature-btn:hover span {
  color: #000000;
}

.secondary-btn {
  display: inline-block;
  position: relative;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  background: #F8FF40;
  border-radius: 33px;
  padding: 22px 40px;
  text-align: center;
  overflow: hidden;
  line-height: 1;
  z-index: 1;
}

.secondary-btn span {
  position: relative;
  z-index: 2;
}

.secondary-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: -10%;
  height: 100%;
  width: 120%;
  background: #ffffff;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.secondary-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}

.secondary-btn.btn-1 {
  color: #ffffff;
  background: #F8FF40;
  padding: 17px 24px;
}

.secondary-btn.btn-1::before {
  background: #171717;
}

.secondary-btn.btn-1:hover span {
  color: #000000;
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  padding: 8px 8px 8px 24px;
  line-height: 1;
  z-index: 2;
}

.primary-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(87.58deg, #89C61D 5.41%, #F8FF40 94.78%);
  border-radius: 30px;
  z-index: -1;
}

.primary-btn:hover:before {
  background: linear-gradient(87.58deg, #F8FF40 5.41%, #89C61D 94.78%);
}

.primary-btn span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #090909;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.primary-btn span .icon-second,
.primary-btn span .icon-first {
  transition: all 0.3s ease-in-out 0s;
}

.primary-btn span .icon-second {
  position: absolute;
  transform: translateX(-150%);
}

.primary-btn:hover span .icon-first {
  transform: translateX(150%);
}

.primary-btn:hover span .icon-second {
  transform: translateX(0);
}

@media (max-width: 575px) {
  .secondary-btn {
    padding: 17px 24px;
  }
}

/**----------------------------------------
START: Header CSS
----------------------------------------*/
.header-area {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out 0s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 23px 0;
  z-index: 98;
}

.header-area.header-absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
}

.header-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-main-wrapper .header-menu-area {
  display: flex;
  align-items: center;
  column-gap: 84px;
}

.site-logo {
  max-width: 220px;
  width: 100%;
}

.site-logo a {
  display: flex;
}

.site-logo a img {
  width: 100%;
}

.nav-mainmenu ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.nav-mainmenu ul li a {
  font-size: 15px;
  color: #F5F5F5;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 1199px) {
  .header-main-wrapper .header-menu-area {
    column-gap: 30px;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 15px 0;
  }

  .nav-mainmenu ul {
    display: none;
  }
}

@media (max-width: 575px) {
  .site-logo {
    max-width: 175px;
  }
}

/* !END: Header CSS *

/**----------------------------------------
START: Banner CSS
----------------------------------------*/
.banner-area {
  position: relative;
  padding-top: 185px;
  padding-bottom: 110px;
  overflow: hidden;
}

.banner-area::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%);
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: #185F06;
  filter: blur(110px);
  z-index: -1;
}

.banner-area .banner-shapes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.banner-area .banner-shapes img {
  width: 100%;
  height: 100%;
}

.banner-main-wrapper {
  position: relative;
  max-width: 1056px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-main-wrapper .banner-logo {
  max-width: 197px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.banner-main-wrapper .banner-title {
  color: #ffffff;
  font-weight: 700;
  line-height: 67.83px;
}

.banner-main-wrapper .banner-title .active-color {
  background: linear-gradient(88.81deg, #84C41B -63.8%, #F6FF42 78.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-main-wrapper .banner-desc {
  color: rgba(255, 255, 255, 0.7);
  max-width: 675px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
}

.coundown-timer-wrap {
  margin-top: 35px;
}

.coundown-timer-wrap .timer-title {
  color: #ffffff;
}

.coundown-timer-wrap .countdown {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}

.coundown-timer-wrap .countdown .timer-item {
  display: flex;
  align-items: center;
}

.coundown-timer-wrap .countdown .timer-item .number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 98px;
  color: #ffffff;
  font-size: 34px;
  font-family: var(--sds-ff-heading);
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  letter-spacing: 2px;
  border-radius: 17px;
}

.coundown-timer-wrap .countdown .timer-item .subtitle {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  margin-top: 10px;
  line-height: 24px;
}

.coundown-timer-wrap .countdown .timer-item .timer-line {
  position: relative;
  color: #ffffff;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  top: -20px;
}

.banner-scroll {
  margin-top: 48px;
  cursor: pointer;
}

.banner-scroll span {
  position: relative;
}

.banner-scroll span::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  top: -15px;
  left: 11px;
  background: #ffffff;
  animation: jump-arrow 2.5s infinite;
}

.banner-main-wrapper .shapes-1 {
  position: absolute;
  top: 26%;
  left: -16%;
  animation: shakeY 2.5s ease-in-out infinite;
}

.banner-main-wrapper .shapes-2 {
  position: absolute;
  top: 0;
  right: -16%;
  opacity: 28%;
  animation: shakeY 2.5s ease-in-out infinite;
}

.banner-main-wrapper .shapes-3 {
  position: absolute;
  bottom: 35%;
  left: 110px;
  opacity: 28%;
  animation: shakeY 2.5s ease-in-out infinite;
}

.banner-main-wrapper .shapes-4 {
  position: absolute;
  right: 0;
  bottom: 50px;
  animation: shakeY 2.5s ease-in-out infinite;
}

.banner-main-wrapper .circle-1 {
  position: absolute;
  bottom: 85px;
  left: -110px;
  width: 18px;
  height: 18px;
  background: #FF4E4E;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

.banner-main-wrapper .circle-2 {
  position: absolute;
  bottom: 45%;
  right: -15%;
  width: 10px;
  height: 10px;
  background: #7FFFC1;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

@media (max-width: 1399px) {
  .banner-main-wrapper .shapes-1 {
    top: 24%;
    left: -6%;
  }

  .banner-main-wrapper .shapes-2 {
    right: -4%;
  }

  .banner-main-wrapper .circle-1 {
    left: -10px;
  }

  .banner-main-wrapper .circle-2 {
    right: 0;
  }
}

@media (max-width: 1199px) {
  .banner-main-wrapper .shapes-1 {
    top: 35%;
    left: 0%;
  }

  .banner-main-wrapper .shapes-2 {
    right: 0;
  }
}

@media (max-width: 991px) {
  .banner-area {
    padding-top: 164px;
    padding-bottom: 90px;
  }

  .banner-area .shapes-wrap {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner-area {
    padding-top: 146px;
    padding-bottom: 54px;
  }

  .banner-main-wrapper .banner-title {
    line-height: 55px;
  }

  .banner-main-wrapper .banner-logo {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .banner-main-wrapper .banner-title {
    line-height: 46px;
  }

  .coundown-timer-wrap .countdown .timer-item .number {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
}

/* !END: Banner CSS *

/**----------------------------------------
START: Feature CSS
----------------------------------------*/
.feature-area {
  padding-bottom: 100px;
  overflow: hidden;
}

.feature-area .heading-area .sec-title {
  color: #ffffff;
  text-align: center;
}

.feature-table-wrap {
  margin-top: 46px;
}

.feature-table-wrap table {
  border-collapse: collapse;
  width: 100%;
}

.feature-table-wrap table tbody tr th {
  color: #090909;
  font-family: var(--sds-ff-heading);
  font-weight: 600;
  font-size: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 17px 40px;
}

.feature-table-wrap table tbody tr th:first-child {
  border-radius: 16px 0px 0px 0px;
}

.feature-table-wrap table tbody tr th:last-child {
  border-right: none;
  border-radius: 0px 16px 0px 0px;
}

.feature-table-wrap table tbody tr td {
  color: #BABABA;
  font-family: var(--sds-ff-heading);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-left: 40px;
  padding: 16px 16px 16px 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-table-wrap table tbody tr td ul li {
  position: relative;
  padding-left: 12px;
}

.feature-table-wrap table tbody tr td ul li::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 13px;
  left: 0;
  background: #BABABA;
  border-radius: 50%;
}

.feature-table-wrap table tbody tr td:nth-child(1) {
  position: relative;
  overflow: hidden;
}

.feature-table-wrap table tbody tr td:nth-child(1) .subtitle {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  background: #FBC101;
  padding: 8px 40px;
  position: absolute;
  top: 16px;
  left: -35px;
  transform: rotate(-45deg);
  line-height: 1;
}

.feature-table-wrap table tbody tr td:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-table-wrap table tbody tr:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-table-wrap table tbody tr:nth-child(odd) {
  background: #191818;
}

.feature-table-wrap table tbody tr:first-child {
  background: #89C61D;
}

.feature-table-wrap table tbody th:nth-child(1),
.feature-table-wrap table tbody tr td:nth-child(1) {
  width: 325px;
  text-align: left;
}

.feature-table-wrap table tbody th:nth-child(2),
.feature-table-wrap table tbody tr td:nth-child(2) {
  width: 395px;
  text-align: left;
}

.feature-table-wrap table tbody th:nth-child(3),
.feature-table-wrap table tbody tr td:nth-child(3) {
  width: 425px;
  text-align: left;
}

.feature-table-wrap table tbody th:nth-child(4),
.feature-table-wrap table tbody tr td:nth-child(4) {
  width: 295px;
  text-align: center;
  padding: 16px 16px 16px 0px;
}

@media (max-width: 1199px) {
  .feature-table-wrap table tbody tr td {
    padding: 16px 16px;
  }

  .feature-table-wrap table tbody tr th {
    padding: 17px 16px;
  }
}

@media (max-width: 991px) {
  .feature-table-wrap table {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: inherit;
    white-space: nowrap;
    scrollbar-color: #89C61D #89C61D;
    scrollbar-width: thin;
    padding-bottom: 10px;
  }

  .feature-table-wrap table tbody th:nth-child(4),
  .feature-table-wrap table tbody tr td:nth-child(4) {
    padding: 16px 16px;
  }
}

@media (max-width: 767px) {
  .feature-table-wrap {
    margin-top: 36px;
  }

  .feature-table-wrap table tbody tr th:last-child,
  .feature-table-wrap table tbody tr th:first-child {
    border-radius: 0px 0px 0px 0px;
  }
}

/* !END: Feature CSS *

/**----------------------------------------
START: Demo CSS
----------------------------------------*/
.demo-area {
  padding-bottom: 110px;
}

.demo-main-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}

.demo-item {
  position: sticky;
  background: #8A35F2;
  padding: 68px 80px 80px;
  border-radius: 60px;
  top: 120px;
}

.demo-item:nth-child(2) {
  background: #EF4646;
  top: 120px;
}

.demo-item:nth-child(3) {
  background: #C81F46;
  top: 120px;
}

.demo-item .demo-sec-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

.demo-item .demo-content {
  display: flex;
  column-gap: 48px;
  row-gap: 30px;
}

.demo-item:nth-child(even) .demo-content {
  flex-direction: row-reverse;
}

.demo-item .demo-content .demo-images {
  display: flex;
}

.demo-item .demo-content .demo-images img {
  border-radius: 16px;
  height: 450px;
  object-fit: cover;
  width: 100%;
}

.demo-item .demo-content .demo-text {
  max-width: 520px;
  width: 100%;
}

.demo-item .demo-content .demo-text .demo-title {
  color: #ffffff;
  line-height: 40px;
}

.demo-item .demo-content .demo-text .demo-desc {
  color: rgba(245, 245, 245, 0.8);
  margin-top: 25px;
}

.demo-item .check-list {
  margin-top: 33px;
}

.check-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 25px;
}

.check-list ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  line-height: 22px;
}

.check-list ul li span {
  display: flex;
}

.demo-item .demo-content .demo-text .demo-button {
  margin-top: 42px;
}

@media (max-width: 1199px) {
  .demo-item {
    padding: 35px 20px 40px;
    border-radius: 30px;
  }

  .demo-item .demo-content {
    column-gap: 25px;
  }
}

@media (max-width: 991px) {
  .mobile-demo-main-wrapper {
    display: block;
  }

  .demo-item:nth-child(even) .demo-content,
  .demo-item .demo-content {
    flex-direction: column;
  }

  .demo-item .demo-content .demo-text {
    max-width: 100%;
  }

  .demo-item .demo-sec-title {
    margin-bottom: 30px;
  }

  .demo-item:nth-child(3),
  .demo-item:nth-child(2),
  .demo-item {
    top: 0;
  }
}

@media (max-width: 767px) {
  .demo-area {
    padding-bottom: 54px;
  }

  .demo-item {
    border-radius: 0px;
  }

  .demo-item .demo-content .demo-images img {
    border-radius: 0px;
  }
}

@media (max-width: 575px) {
  .demo-item {
    border-radius: 0px;
  }

  .demo-item .demo-content .demo-images img {
    height: auto;
  }

  .demo-item .demo-content .demo-text .demo-title {
    line-height: 30px;
  }

  .demo-item .demo-content .demo-text .demo-desc {
    margin-top: 15px;
  }

  .check-list ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .demo-item .demo-content .demo-text .demo-button {
    margin-top: 30px;
  }
}

/* !END: Demo CSS *

/**----------------------------------------
START: Product CSS
----------------------------------------*/
.product-slider-area {
  position: relative;
  padding-bottom: 83px;
  overflow: hidden;
}

.product-slider-area .heading-area {
  margin-bottom: 40px;
}

.product-slider-area .flickity-button {
  color: #000000;
  background: #ffffff;
}

.product-slider-area .flickity-button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(87.58deg, #89C61D 5.41%, #F8FF40 94.78%);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

.product-slider-area .flickity-button:hover:before {
  opacity: 1;
  visibility: visible;
}

.product-slider-area .flickity-button:disabled {
  opacity: 1;
}

.product-slider-area .flickity-prev-next-button {
  top: -90px;
  width: 40px;
  height: 40px;
  transform: translateY(0);
}

.product-slider-area .flickity-prev-next-button.next {
  right: 0;
}

.product-slider-area .flickity-prev-next-button.previous {
  left: auto;
  right: 55px;
}

.product-slider-area .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
}

.product-slider-area .flickity-button-icon {
  fill: #000000;
}

.product-slider-area .heading-area .sec-title {
  color: #ffffff;
  width: calc(100% - 150px);
}

.product-slider-area .flickity-viewport {
  overflow: visible;
}

.product-slider-item {
  width: 44%;
  background: #ffffff;
  border-radius: 50px;
  margin: 0 10px;
  padding: 8px 8px 33px;
}

.product-slider-item .product-slider-images img {
  border-radius: 45px 45px 0 0;
}

.product-slider-item .product-slider-content {
  padding: 23px 27px 0;
}

.product-slider-item .product-slider-content .product-title {
  color: #191919;
  line-height: 28px;
}

.product-slider-item .product-slider-content .product-desc {
  font-size: 18px;
  color: rgba(25, 25, 25, 0.8);
  margin-top: 6px;
  line-height: 30px;
}

.product-slider-item .product-slider-content .product-button {
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .product-slider-item {
    width: 54%;
  }
}

@media (max-width: 991px) {
  .product-slider-area .flickity-prev-next-button {
    top: -80px;
  }

  .product-slider-item {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .product-slider-area {
    padding-bottom: 54px;
  }

  .product-slider-item {
    border-radius: 0px;
  }

  .product-slider-item .product-slider-images img {
    border-radius: 0px;
  }

  .product-slider-item .product-slider-content {
    padding: 23px 20px 0;
  }

  .product-slider-area .flickity-prev-next-button {
    display: none;
  }

  .product-slider-area .heading-area .sec-title {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .product-slider-item {
    width: 95%;
    border-radius: 0px;
  }

  .product-slider-item .product-slider-content {
    padding: 23px 15px 0;
  }
}

/* !END: Product CSS *

/**----------------------------------------
START: Footer CSS
----------------------------------------*/
.footer-area {
  position: relative;
  padding-bottom: 157px;
}

.footer-area::before {
  content: "";
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: #185F06;
  filter: blur(110px);
  opacity: 0.5;
  z-index: -1;
}

.footer-mian-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.footer-item {
  position: relative;
  max-width: 634px;
  width: 100%;
  border: 1px solid #3F3F3F;
  border-radius: 60px;
  padding: 46px 25px 48px;
  background: #090909;
  text-align: center;
  overflow: hidden;
}

.footer-item .item-shapes {
  position: absolute;
  right: -15px;
  bottom: -15px;
  opacity: 0.3;
}

.footer-item .sub-title {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: var(--sds-ff-heading);
  font-weight: 400;
  margin-bottom: 19px;
  line-height: 30px;
}

.footer-item .footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  color: #ffffff;
  font-weight: 500;
  line-height: 30px;
}

.footer-item .footer-title .active-color {
  color: #82C602;
  font-weight: 600;
  font-size: 44px;
  line-height: 40px;
}

.footer-item .footer-logo {
  display: flex;
  max-width: 182px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.footer-item .footer-logo img {
  width: 100%;
}

.footer-item .footer-button {
  margin-top: 24px;
}

@media (max-width: 991px) {
  .footer-area {
    padding-bottom: 100px;
    overflow: hidden;
  }

  .footer-mian-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .feature-area {
    padding-bottom: 54px;
  }

  .footer-item .footer-title {
    font-size: 18px;
  }

  .footer-item .footer-title .active-color {
    font-size: 26px;
  }

  .footer-item {
    border-radius: 0px;
    padding: 35px 15px;
  }
}

/* Keyframes CSS */
@keyframes shakeY {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jump-arrow {

  0%,
  20%,
  55%,
  80%,
  100% {
    transform: translate3d(-50%, 0, 0) rotate(-90deg);
  }

  40% {
    transform: translate3d(-50%, -8px, 0) rotate(-90deg);
  }

  70% {
    transform: translate3d(-50%, -8px, 0) rotate(-90deg);
  }

  90% {
    transform: translate3d(-50%, -5px, 0) rotate(-90deg);
  }
}

/* !END: Footer CSS *